<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>
</head>
<body>
  <h1>Contact Us</h1>
  <form>
    <input type="text" name="name">
    <input type="email" name="email">
    <input type="text" name="message">
    <button type="submit">Submit</button>
  </form>
</body>
</html>